  img{
    position: absolute;
    z-index: -1;
    width: 100%;
  }
h1  {
  display: inline-block;
  width: 215px;
  font-family: 'Permanent Marker', cursive;
  color: #fff;

}
  a{color: #fff;
  }

ul{
  list-style-type: none;
  display: inline-block;
  width: calc(100% - 215px);
  text-align: right;
  padding: 0;


}

li {
  display: inline-block;
}

  a {color: #fff;}

  .yellow-button {
    color:yellow;
  }
  section {
    min-height: 100vh;
  }

  section#About {
    background-color: #eee;
  }

  section.purple-title h2 {
    color: purple;
  }

    button {
      background-color: rgb(255, 0, 0);
      border-radius: 100%;
      position: relative;
      width: 100px;
      height: 100px;
      border: none;
      cursor: pointer;
      box-shadow: 0 3px 0 0px rgb(50, 50, 50);
      color: #fff;
      text-shadow: 1px 1px 1px #000;
      transition: all .3s;
      left: 50%;
      transform: translate(-50%, 300px);


    }

    button:hover {
      background-color: #fff;
    }
    button:active {
      box-shadow: none;
      top: 3px;
    }

    }
